@using App_Dominio.Component
@helper Trace(BreadCrumb breadCrumb)
{
    if (breadCrumb != null)
    {
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="~/Home/Default" class="text-mama-africa"> Home</a></li>
            @for (int i = 0; i <= breadCrumb.items.Count - 2; i++)
            {
                <li><a href="../@breadCrumb.items[i].controllerName/@breadCrumb.items[i].link" class="text-mama-africa"> @breadCrumb.items[i].text</a> </li>
            }
            <li class="active">@breadCrumb.items[breadCrumb.items.Count - 1].text</li>
        </ol>
    }
}