@model DWM.Models.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DWM-Condomínios</title>
    <!-- Bootstrap -->
    <link href="../Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Site.css -->
    <link href="../Content/Site.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    @*<link href="../Content/production/css/custom.css" rel="stylesheet">*@
    <script type="text/javascript" src="../scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery.validate.js"></script>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <img class="img-responsive" src="~/Content/images/Logo_DWM_Sistemas.png" style="height: 70px" />
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="~/Account/Login">Acesso</a></li>
                    <li><button class="btn btn-sm btn-default margem-top-10" onclick="window.location = '../Account/Register'">Cadastro</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <p>&nbsp;</p>
        <section class="Ariano">
            
            <h3>I TERMOS E CONDIÇÕES DOS SERVIÇOS DWM SISTEMAS</h3>
            <br />
            <p>Pelo presente instrumento, as Partes, de um lado:</p>
            <p>a) DWM Consultoria e Desenvolvimento de Sistemas Eireli, com sede na cidade Belém, Estado do Pará, na Travessa Benjamin Constant, nº 906 - Fundos, Bairro Reduto, CEP 66053-040, CNPJ 09.050.084/0001-42, responsável pelo produto DWM-Condomínios, doravante denominada simplesmente DWM Sistemas e, de outro lado:</p>
            <p>b) A PESSOA FÍSICA que preencheu e enviou seu cadastro no site "Sopro da Sorte" da DWM Sistemas concordando com os termos deste contrato, doravante denominada simplesmente como CONTRATANTE.</p>
            <br />
            <p>1.1 Estas condições gerais regulamentam o serviço de Loteria Eletrônica que a DWM Sistemas disponibiliza aos Usuários da Internet através do Portal (http://sopro-da-sorte.azurewebsites.net). Ao utilizar o Serviço, o Usuário só poderá finalizar a realização do jogo ao expressar a aceitação plena e sem reservas de todas as cláusulas destas Condições Gerais. A utilização do Serviço encontra-se igualmente submetida a todos os avisos, regulamentos de uso e instruções postos ao conhecimento do Usuário pela DWM Sistemas.</p>
            <br />
            <h3>II OBJETO</h3>
            <br />
            <p>2.1. As presentes Condições Gerais regulamentam a prestação do Serviço por parte da DWM Sistemas e a utilização do Serviço por parte dos Usuários.</p>
            <br />
            <h3>III - O SERVIÇO</h3>
            <br />
            <p>3.1. O serviço consiste na possibilidade do usuário participar de grupos de jogos oficiais em conjunto com outros usuários ("sistema de bolão") nos jogos oficiais da loteria federal. Para a prestação do serviço, é realizado um número determinado de jogos junto às lotéricas credenciadas pela Caixa Econômica Federal, disponibilizando-se um conjunto de jogos, em forma fracionada. Dentre as características do serviço incluem-se, entre outras, as seguintes: (i) combinações de jogos oficiais oferecidas aos usuários com prévio estudo matemático das probabilidades de acerto, permitindo ampliação das chances de êxito dos jogos efetivados; (ii) extrato de jogos; (iii) variedade de formas de pagamento; (iv) notificação por e-mail aos usuários ganhadores; e (v) esclarecimento de dúvidas por e-mail, WhatsApp e/ou ligação telefônica para elaboração dos jogos e recebimento dos prêmios.</p>
            <br />
            <p>3.2. O Serviço dispõe ainda da possibilidade de o Usuário solicitar que a DWM Sistemas realize jogos oficiais junto às lotéricas credenciadas pela Caixa Econômica Federal, contendo os números escolhidos pelo próprio Usuário e apenas para os jogos da Mega-Sena, Lotofácil e Quina. Essa possibilidade está disponível até as 12:00 horas do dia em que é realizado cada um dos sorteios pela Caixa Econômica Federal.</p>
            <br />
            <h3>IV - CONDIÇÕES DE ACESSO E UTILIZAÇÃO DO SERVIÇO</h3>
            <br />
            <p>4.1. A utilização do Serviço exige o prévio preenchimento do formulário de registro pelo Usuário, cujas informações devem ser verídicas e pessoais. No preenchimento do formulário, o Usuário deverá indicar um código de acesso (e-mail) e uma senha, doravante denominadas simplesmente "Senhas de Acesso", para a identificação junto ao Serviço. Em seguida, o usuário receberá um e-mail que deverá ser confirmado. Somente após esta confirmação o usuário terá acesso para efetuar suas compras. Caso o assinante seja contemplado em um dos jogos e ele desejar efetuar a solicitação do resgate é necessário o preenchimento do formulário "Resgatar".</p>
            <br />
            <p>4.1.1. O CADASTRAMENTO E A UTILIZAÇÃO DO SERVIÇO SÃO EXCLUSIVOS PARA PESSOAS FÍSICAS, MAIORES DE 18 (DEZOITO) ANOS, SENDO EXPRESSAMENTE VEDADA A PARTICIPAÇÃO DE PESSOAS JURÍDICAS.</p>
            <br />
            <p>4.1.2. É permitido apenas 1 (um) cadastro por pessoa física.</p>
            <br />
            <p>4.2. Para controle e segurança, o Usuário deverá providenciar regularmente a troca da sua respectiva senha de acesso, que deve ser feita diretamente no Portal Sopro da Sorte.</p>
            <br />
            <p>4.2.1. O Usuário compromete-se a comunicar à DWM Sistemas o extravio, perda ou roubo das Senhas de Acesso imediatamente após o conhecimento do fato.</p>
            <br />
            <p>4.2.2. Até o momento em que efetivamente comunicar à DWM Sistemas, através do e-mail faleconosco@dwmsistemas.com.br, o usuário responderá pelos gastos ou prejuízos decorrentes da eventual utilização das Senhas de Acesso da DWM Sistemas por terceiros. A DWM Sistemas não se responsabilizará por quaisquer danos decorrentes de tais fatos enquanto não for informada pelo usuário sobre o extravio, perda ou roubo das Senhas de Acesso ao serviço DWM Sistemas.</p>
            <br />
            <p>4.3. O Usuário deve utilizar o Serviço em conformidade com a lei, a moral e os bons costumes geralmente aceitos e a ordem pública.</p>
            <br />
            <p>4.3.1. O Usuário compromete-se a utilizar o Serviço de forma correta e diligente, assim como a abster-se de utilizá-lo com objetivos ou efeitos ilícitos, proibidos pelas presentes Condições Gerais, lesivos aos direitos e interesses de terceiros, ou que, de qualquer forma, possa danificar, inutilizar, sobrecarregar ou deteriorar o Serviço, os equipamentos informáticos de outros Usuários ou de outros usuários da Internet (hardware e software), assim como os documentos, arquivos e toda classe de conteúdos armazenados nos seus equipamentos informáticos (hacking) ou impedir a normal utilização ou gozo do referido Serviço, equipamentos informáticos e documentos, arquivos e conteúdos por parte dos demais Usuários e de outros usuários da Internet.</p>
            <br />
            <p>4.4. Para a aquisição de uma ou mais cotas de jogos o Usuário deverá estar cadastrado conforme cláusula 4.1. acima, bem como habilitado ao uso do Serviço através de sua Senha de Acesso. Após a habilitação, serão exibidos os tipos de jogos disponíveis (Mega-sena, Timemania, Lotofácil, Lotomania, Quina, Dupla-Sena, Loteca, Federal), bem como as seguintes informações: (a) grupo; (b) número do concurso; (c) data do sorteio; (d) valor da cota; (e) número total de cotas e (f) Total de cotas já vendidas.</p>
            <br />
            <p>4.4.1. O Usuário poderá realizar suas compras nos grupos de jogos. Não há limite de cotas por jogo, devendo consultar o Portal para a verificação do total já arrecadado de cotas.</p>
            <br />
            <p>4.4.2. Após selecionar a opção em que queira realizar seus jogos oficiais o Usuário deverá colocar sua escolha no carrinho. Esta operação pode ser repetida quantas vezes o Usuário desejar. Quando estiver satisfeito, o Usuário deve pressionar o botão "Concluir Compra" para realizar o pagamento e efetivar a aquisição da(s) respectiva(s) cota(s) e/ou dos seus números escolhidos.</p>
            <br />
            <p>4.4.3. A efetivação do jogo será confirmada através do envio de dois e-mails ao Usuário, o primeiro informa que houve a realização da escolha do produto com sucesso e o segundo que expressamente informa que houve o pagamento e a confirmação da aquisição dos mesmos ou de Cancelamento se não houver a efetivação do pagamento. <strong>APENAS AS AQUISIÇÕES DE COTAS E DE SEUS NÚMEROS ESCOLHIDOS QUE TENHAM SIDO CONFIRMADAS PELA DWM SISTEMAS POR E-MAIL SERÃO CONSIDERADAS VÁLIDAS PARA PARTICIPAÇÃO NOS RESPECTIVOS BOLÕES E SORTEIOS</strong>.</p>
            <br />
            <p>4.4.4. O pagamento através de boleto bancário estará disponível até as 19horas e 30minutos (horário de Brasília) do dia útil anterior à data do sorteio. O pagamento será aceito até as 19 horas e 50minutos (horário de Brasília) da mesma data, impressa no boleto bancário, independente da data do sorteio realizado pela Caixa Econômica Federal. Observando-se em todo caso o disposto na cláusula 4.4.3.</p>
            <br />
            <p>4.4.5. O pagamento através de transferência eletrônica (TED) estará disponível em dias úteis até 12 (doze) horas do dia do sorteio realizado pela Caixa Econômica Federal. O pagamento será aceito desde que efetuado até o respectivo horário e devidamente identificado. Após às 12 horas do dia do jogo o valor da TED ficará disponível na conta corrente virtual do Usuário para apostar nos próximos jogos ou realizar o resgate total ou parcial do valor do saldo disponível em conta.</p>
            <br />
            <p>4.4.5a. O pagamento através de transferências entre contas do Itaú ou através da conta corrente virtual do Usuário estará disponível áté 12 (doze) horas do dia do sorteio realizado pela Caixa Econdôica Federal, inclusive para os sorteios da Mega Sena que ocorrem aos sábados.</p>
            <br />
            <p>4.4.6. O pagamento através de depósito identificado estará indisponível entre as 17 e 20 horas (horário de Brasília), aos sábados e feriados, apenas estará habilitado para depósitos na conta virtual da CONTRATANTE que serão processados no próximo dia útil. Somente será aceito o jogo confirmado pela DWM Sistemas se o Usuário realizar a correta identificação do pagamento, incluindo o código fornecido pelo Banco no campo de identificação, os números de sua agência e de seu CPF. Caso a identificação não seja realizada corretamente, a DWM Sistemas cancelará o jogo.</p>
            <br />
            <p>4.4.7. Caso o Usuário opte por escolher os números da Mega-Sena, Lotofácil ou Quina que pretende jogar, através de transferência bancária, depósito identificado, ou créditos de sua conta virtual, poderá fazê-lo até as 12:00 horas na data da realização do sorteio da Caixa Econômica Federal. Caso a opção de pagamento seja através de Boleto Bancário, este somente poderá ser feito até as 19:30 horas do dia anterior à realização do sorteio pela Caixa Econômica Federal e pago até as 19:50 horas desse mesmo dia.</p>
            <br />
            <p>4.4.8. O pagamento através de Conta Virtual estará disponível até 12 horas do dia do sorteio pela Caixa Econômica Federal. O pagamento será aceito, desde que os créditos processados na sua conta virtual DWM Sistemas sejam iguais ou superiores ao valor do seu jogo no ato da confirmação do pagamento.</p>
            <br />
            <p>4.5. CASO O USUÁRIO QUEIRA DESISTIR DO(S) JOGOS(S) REALIZADA(S), ESTE DEVERÁ SOLICITAR O CANCELAMENTO COM NO MÍNIMO 24 (VINTE E QUATRO) HORAS DE ANTECEDÊNCIA À REALIZAÇÃO DO SORTEIO PELA CAIXA ECONÔMICA FEDERAL.</p>
            <br />
            <p>4.6. Os pagamentos de prêmios serão efetuados através de transferência para a Conta Virtual do Usuário na DWM Sistemas e os valores serão proporcionais ao número de cotas adquiridas pelo Usuário e da quantidade de números escolhidos em "Escolha seus números".</p>
            <br />
            <p>4.7. Os valores referentes aos prêmios poderão ser resgatados a qualquer momento.</p>
            <br />
            <p>4.7.1. O pagamento dos valores dos prêmios solicitados ocorrerá em até 05 (cinco) dias úteis, após o Usuário indicar os dados bancários de conta de sua titularidade e desde que não haja divergências nos dados fornecidos que impossibilitem a transferência e estará sujeito à cobrança de tarifa de transferência vigente praticada pelos bancos.</p>
            <br />
            <p>4.8. A prestação de serviços, o encaminhamento dos jogos às casas lotéricas credenciadas, bem como a retirada dos prêmios são de total responsabilidade dos representantes da DWM Sistemas, que atuarão como mandatários, nos termos do art. 653 do Código Civil.</p>
            <br />
            <p>4.9. O fechamento do jogo ocorre às 12 horas do dia do sorteio. Após esse horário as janelas de apostas para todas as modalidades estarão bloqueadas. A DWM Sistemas irá contabilizar os pagamentos e estruturar a matriz de desdobramento com base no montante arrecadado reduzido das despesas. </p>
            <br />
            <p>4.10. A partir das 14 horas do dia do sorteio o Usuário receberá o comprovante da aposta em seu e-mail com os números da matriz, o prognóstico do jogo, a quantidade total de cotas do grupo, a quantidade de cotas comprada pelo Usuário e a sua participação percentual em caso de premiação. <strong>SOMENTE ESTE COMPROVANTE TEM VALOR EM CASO DE PREMIAÇÃO.</strong></p>
            <br />
            <h3>V - DADOS DE CARÁTER PESSOAL</h3>
            <br />
            <p>5.1. Para utilizar o Serviço, os Usuários devem proporcionar previamente à DWM Sistemas certos dados de caráter pessoal através do Cadastro. A DWM Sistemas tratará os dados pessoais de acordo com o disposto na Política de Proteção de Dados, em Da Privacidade.</p>
            <br />
            <p>5.2. Mediante o preenchimento e envio do correspondente Cadastro, o Usuário aceita e autoriza que os seus dados pessoais sejam objeto de tratamento automatizado por parte da DWM Sistemas nos termos indicados na Política de Proteção de Dados Pessoais da DWM Sistemas.</p>
            <br />
            <p>5.3. Os Usuários garantem e respondem pela veracidade, exatidão, vigência e autenticidade dos Dados Pessoais fornecidos e comprometem-se a mantê-los devidamente atualizados.</p>
            <br />
            <h3>VI - VALORES E FORMA DE PAGAMENTO</h3>
            <br />
            <p>6.1. Como contraprestação aos serviços prestados, o Usuário pagará à DWM Sistemas uma taxa administrativa que já está incluída no(s) valor(es) da(s) cota(s) adquirida(s), e do "Escolha seus números" conforme a quantia constante do respectivo pedido efetuado.</p>
            <br />
            <p>6.2. Os pagamentos poderão ser realizados através de boleto bancário, transferência bancárias e créditos depositados na Conta Virtual do Usuário na DWM Sistemas. Não serão aceitos pagamentos através de DOC ou qualquer outra forma que não conste expressamente nas Condições de Uso.</p>
            <br />
            <p>6.3. A devolução de quantias pagas ocorrerá apenas na hipótese de desistências efetivadas com observância ao disposto na cláusula 4.5.</p>
            <br />
            <h3>VII - PROCEDIMENTO EM CASO DE OCORRÊNCIA DE ATIVIDADES ILÍCITAS OU IRREGULARES</h3>
            <br />
            <p>7.1. Na hipótese de qualquer Usuário ou terceiro considerar que existem fatos ou circunstâncias que constituam ilicitude na utilização de qualquer conteúdo e/ou a realização de qualquer atividade nas páginas web, inclusas ou acessíveis através do Portal, deverá enviar uma comunicação à DWM Sistemas contendo os seguintes dados: (a) dados pessoais: nome, endereço, número de telefone e endereço de correio eletrônico do reclamante; (b) especificação da suposta atividade ilícita ocorrida no Portal e sua localização nas páginas web; (c) fatos ou circunstâncias que revelem o caráter ilícito de tal atividade. Essas notificações deverão ser enviadas ao e-mail faleconosco@dwmsistemas.com.br.</p>
            <br />
            <h3>VIII - DURAÇÃO E FINALIZAÇÃO</h3>
            <br />
            <p>8.1. A prestação do Serviço tem uma duração indefinida. Ambas as Partes, não obstante, estão facultadas a dar por terminada a relação regulada nestas Condições Gerais. Para qualquer sugestão ou proposta de colaboração, entre em contato conosco através do e-mail faleconosco@dwmsistemas.com.br.</p>
            <br />
            <h3>IX - SOBRE A CONTA VIRTUAL</h3>
            <br />
            <p>9.1 A Conta virtual é uma conta corrente vinculada ao cadastro do Usuário. Nela o Usuário poderá realizar depósitos, pagamento de apostas, receber os prêmios e realizar transferências para a sua conta corrente (bancária) pessoa física. Os créditos realizados nesta conta virtual poderão ocorrer só e somente só de uma das seguintes formas:</p> 
            <br />
            <p>9.1.1 Boleto bancário</p>
            <p>9.1.2 Transferência bancária (DOC, TED ou Transferência entre contas Itaú)</p>
            <p>9.1.3 Premiação das apostas</p>
            <br />
            <h3>X - SOBRE AS MENSALIDADES REGULARES</h3>
            <br />
            <p>10.1 As mensalidades regulares têm um objetivo comum que é angariar fundos para qualquer um dos super jogos das Loterias da Caixa Econômica: “Mega da Virada”, “Lotomania da Páscoa”, “Quina de São João” ou “Lotofácil da Independência”.</p>
            <br />
            <p>10.2 A poupança das mensalidades regulares não é obrigatória para o Usuário, mas se optar, terá direito aos seguintes serviços:</p>
            <br />
            <p>10.2.1 Participação em sorteios mensais de descontos nas apostas</p>
            <br />
            <p>10.2.2 Sorteio de bônus de cotas que podem ser usadas em qualquer jogo</p>
            <br />
            <p>10.2.3 Escolher os números do bolão</p>
            <br />
            <p>10.3 Uma parte fixa do valor pago de cada mensalidade será vinculado à Conta Virtual do Usuário e este usará o valor acumulado neste fundo para uma das grandes apostas citadas no item 10.1.</p>
            <br />
            <p>10.4 A parte restante será utilizada para pagamento dos tributos pelos serviços de consultoria prestados, custos administrativos e para os sorteios de descontos e bonificação de cotas de jogo entre os membros que estejam em dia com as suas obrigações mensais.</p>
            <br />
            <p>10.5 O pagamento das mensalidades deverá ocorrer até o dia 10 de cada mês. O Usuário receberá em seu e-mail (e também estará disponível no portal do Sopro da Sorte) o boleto de pagamento com até 5 dias de antecedência. Se preferir poderá receber pelos correios em sua residência. Neste caso, será cobrado um custo adicional de postagem no valor de R$ 1,95.</p>
            <br />
            <p>10.6 A DWM Sistemas oferta 2 planos de mensalidades: </p>
            <p>10.6.1 <strong>Plano Basic</strong> no valor de <strong>R$ 58,96 (Cinquenta e oito reais e noventa e seis centavos)</strong>, sendo R$ 50,00 destinado a fundo da super aposta e R$ 8,96 para as despesas de consultoria, despesas administrativas e tributos.</p>
            <br />
            <p>10.6.2 <strong>Plano Premium</strong> no valor de <strong>R$ 127,66 (Cento e vinte e sete reais e sessenta e seis centavos)</strong>, sendo R$ 100,00 destinado a fundo da super aposta e R$ 27,66 para as despesas de consultoria, despesas administrativas e tributos.</p>
        </section>
    </div>
    <section style="height: 300px; background-color: #272626; margin-top: 50px; color: #fff" class="text-center">
        <div class="container">
            <div class="row">
                <h3><b>CONTATO</b></h3>
                <br>
                <div class="col-lg-4">
                    <h3><b>Envie-nos um e-mail:</b></h3>
                    <h3>comercial@dwmsistemas.com</h3>
                    <br>
                </div>

                <div class="col-lg-4">
                    <h3><b>Telefone:</b></h3>
                    <h3>+55 91 99985-1809</h3>
                    <br>
                </div>

                <div class="col-lg-4">
                    <h3><b>Redes sociais</b></h3>
                    <p>
                        <a href="index.html#"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;&nbsp;&nbsp;
                        <a href="index.html#"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;&nbsp;&nbsp;
                        <a href="index.html#"><i class="fa fa-envelope fa-2x"></i></a>
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: #000; height: 50px; color: #fff" class="text-right">
        <div class="container">
            <p style="margin-top:15px">
                Criado por <a href="http://www.dwmsistemas.com" class="text-danger">DWM SISTEMAS</a>
            </p>
        </div>
    </section>
</body>
</html>
