@model System.Web.Mvc.PagedList<DWM.Models.Repositories.AluguelEspacoViewModel>
@using Newtonsoft.Json.Converters;
@using DWM.Models.Repositories;
@{
    Layout = null;
    JsonResult dataEvent = new JsonResult();

    if (Model != null)
    {
        List<DWM.Models.Repositories.Calendar> calendaries = new List<DWM.Models.Repositories.Calendar>();
        foreach (DWM.Models.Repositories.AluguelEspacoViewModel ae in Model)
        {
            if ("Reservado|Confirmado".Contains(ae.Status))
            {
                calendaries.Add(ae.calendar);
            }
        }
        dataEvent = new JsonResult()
        {
            Data = calendaries,
            JsonRequestBehavior = JsonRequestBehavior.AllowGet
        };
    }
}
<!-- FullCalendar -->
@*<link href="../Content/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="../Content/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">*@

<link href="../Content/vendors/fullcalendar-3.9.0/fullcalendar.min.css" rel="stylesheet">
<link href="../Content/vendors/fullcalendar-3.9.0/fullcalendar.print.css" rel="stylesheet" media="print">


@if (Model != null)
{
    <div id='calendar'></div>
    <!-- calendar modal  -->
    <!-- Create -->
    <div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Incluir aluguel de espaço - Incluir</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Create", (AluguelEspacoViewModel)ViewBag.AluguelEspacoViewModel)
                </div>
            </div>
        </div>
    </div>
    <!-- Edit -->
    <div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel2">Aluguel de espaços - Editar</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Edit", (AluguelEspacoViewModel)ViewBag.AluguelEspacoViewModel)
                </div>
            </div>
        </div>
    </div>
    <div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
    <div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
    <!-- /calendar modal -->
}
@*else
    {
        @Html.Partial("_AcessoNegadoModal")
    }*@

<!-- FastClick -->
<script src="../Content/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../Content/vendors/nprogress/nprogress.js"></script>
<!-- FullCalendar -->
<script src="../Content/vendors/fullcalendar-3.9.0/fullcalendar.min.js"></script>
<!-- FullCalendar -->
<script>
    var date = new Date(),
            d = date.getDate(),
            m = date.getMonth(),
            y = date.getFullYear(),
            started,
            categoryClass;

        var _events = @Html.Raw(Json.Encode(dataEvent.Data));

        var events = [{
            title: 'Teste',
            start: new Date(1534215600000) //new Date(y, m, 1)
        }, {
            title: 'Long Event',
            start: new Date(y, m, d - 5),
            end: new Date(y, m, d - 2)
        }, {
            title: 'Meeting',
            start: new Date(y, m, d, 10, 30),
            allDay: false
        }, {
            title: 'Lunch',
            start: new Date(y, m, d + 14, 12, 0),
            end: new Date(y, m, d, 14, 0),
            allDay: false
        }, {
            title: 'Birthday Party',
            start: new Date(y, m, d + 1, 19, 0),
            end: new Date(y, m, d + 1, 22, 30),
            allDay: false
        }, {
            title: 'Click for Google',
            start: new Date(y, m, 28),
            end: new Date(y, m, 29),
            url: 'http://google.com/'
        }];

        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'Prev, Next',
                center: 'title',
                //right: 'month,agendaWeek,agendaDay'
            },
            selectable: true,
            //selectHelper: true,
            //dayClick: function (date) {
            //    alert('clicked ' + date.format());
            //},
            //select: function (startDate, endDate) { 
            //    alert('selected ' + startDate.format() + ' to ' + endDate.format()); 
            //},
            select: function (start, end, allDay) {
                $('#DataEvento').val(new Date(end).toLocaleString());
                $('#EspacoID').val(document.getElementById("EspacoID1").value);
                $('#myModalLabel').html("Aluguel de Espaços (Incluir) - " + new Date(end).toLocaleString().substr(0,10));
                $('#fc_create').click();

                started = start;
                ended = end;

                $(".antosubmit").on("click", function () {
                    var title = $("#title").val();
                    if (end) {
                        ended = end;
                    }

                    categoryClass = $("#event_type").val();

                    if (title) {
                        calendar.fullCalendar('renderEvent', {
                            title: title,
                            start: started,
                            end: end,
                            allDay: allDay
                        },
                            true // make the event "stick"
                        );
                    }

                    $('#title').val('');

                    calendar.fullCalendar('unselect');

                    $('.antoclose').click();

                    return false;
                });
            },
            eventClick: function (calEvent, jsEvent, view) {
                //alert('Event: ' + new Date(calEvent.start).toLocaleString());
                //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                //alert('View: ' + view.name);
                alert(events);
                var x = new Date(calEvent.start);
                x = x.setDate(x.getDate() + 1);
                var y = new Date(x);

                $('#DescricaoEdificacao').val(calEvent.title);
                $('#DataEventoEdit').val(y.toLocaleString().substr(0, 10));
                $('#fc_edit').click();
                $('#myModalLabel2').html("Aluguel de Espaços (Alterar) - " + new Date(end).toLocaleString().substr(0, 10));

                categoryClass = $("#event_type").val();

                $(".antosubmit2").on("click", function () {
                    calEvent.title = $("#title2").val();

                    calendar.fullCalendar('updateEvent', calEvent);
                    $('.antoclose2').click();
                });

                calendar.fullCalendar('unselect');
            },
            editable: false,
            //events: events,
            events: _events
            //events: [{
            //    title: 'All Day Event',
            //    start: new Date(y, m, 1)
            //}, {
            //    title: 'Long Event',
            //    start: new Date(y, m, d - 5),
            //    end: new Date(y, m, d - 2)
            //}, {
            //    title: 'Meeting',
            //    start: new Date(y, m, d, 10, 30),
            //    allDay: false
            //}, {
            //    title: 'Lunch',
            //    start: new Date(y, m, d + 14, 12, 0),
            //    end: new Date(y, m, d, 14, 0),
            //    allDay: false
            //}, {
            //    title: 'Birthday Party',
            //    start: new Date(y, m, d + 1, 19, 0),
            //    end: new Date(y, m, d + 1, 22, 30),
            //    allDay: false
            //}, {
            //    title: 'Click for Google',
            //    start: new Date(y, m, 28),
            //    end: new Date(y, m, 29),
            //    url: 'http://google.com/'
            //}]
        });
</script>
<!-- /FullCalendar -->
