<div class="alert alert-dismissable alert-danger">
    <h4 class="alert-heading">Atenção!</h4>
    <div><h6 class="alert-heading">O acesso à requisição solicitada não foi autorizado. Favor entrar em contato com o administrador do sistema.</h6></div>
</div>

