@model System.Web.Mvc.IPagedList  
@{
    Layout= null;
}   

@using (Html.BeginForm("List", "", FormMethod.Post, new { @class = "form-horizontal", @id = "form0" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12 col-xs-10 col-sm-8 input-group">
                <input type="text" name="descricao" id="descricao" class="form-control" placeholder="Buscar" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true" onclick="Refresh(0, getPageSize(), '@Model.action', '@Model.DivId')"></span></button>
                </div>
            </div>
        </div>
    </div>
}




