@using App_Dominio.Security;
@using App_Dominio.Entidades;
@using App_Dominio.Repositories;
@{
    EmpresaSecurity<App_DominioContext> security = new EmpresaSecurity<App_DominioContext>();
    IEnumerable<TransacaoRepository> menuList = security.getUsuarioTransacao();
}
@if (menuList != null)
{
    <ul class="nav side-menu">
        @foreach (TransacaoRepository t in menuList.Where(info => info.transacaoId_pai == null && info.referencia == "Barra de Menu" && info.exibir=="S"))
        {
            <li>
                <a><i class="fa @t.glyph"></i> @t.nomeCurto <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    @foreach (TransacaoRepository t1 in menuList.Where(info => info.transacaoId_pai == t.transacaoId && info.exibir == "S"))
                    {
                        <li>
                            <a href="~/@t1.url">@t1.nomeCurto </a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
}

