@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Um erro ocorreu ao processar sua solicitação. Favor entrar em contato com a administrador do sistema.</h2>

