@using App_Dominio.Repositories
@model PagedList<DWM.Models.Repositories.GrupoCondominoViewModel>
@{
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../GrupoCondomino/Create";
    t[0].nomeCurto = "Incluir";
    t[0].referencia = "";

    t[1].url = "../Home/Default";
}
<div class="container-cadastro">
    <div class="x_panel">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Grupos de Condôminos", Descricao = "", Transacao = t })
        <div class="x_content">
            <div id="div-list">
                @Html.Partial("List", Model)
            </div>
            <div class="altura-35">
                @Html.Partial("_defaultListButtons", new List<ButtonRepository> { new ButtonRepository() { linkText = "Incluir", actionName = "Create", controllerName = "GrupoCondomino", buttonType = "link" } })
            </div>
        </div>
    </div>
</div>
