@using App_Dominio.Repositories
@using DWM.Models.Repositories
@model PagedList<CondominoUnidadeViewModel>
@{ 
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "../Condomino/Browse";
    t[0].nomeCurto = "Incluir";
    t[0].referencia = "";

    t[1].url = "../Home/Default";
}
@if (Model != null)
{
    <div class="x_panel">
        @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Cadastro de Condôminos", Descricao = "", Transacao = t })
        <div class="x_content">
            <div id="div-condomino-pf">
                @if (Model != null)
                {
                    @Html.Partial("ListParam", Model)
                }
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}
