@using App_Dominio.Repositories
@using DWM.Models.Repositories
@model PagedList<CondominoUnidadeViewModel>
@{
    Layout = null;
    TransacaoRepository[] t = { new TransacaoRepository(), new TransacaoRepository(), new TransacaoRepository() };
    t[0].url = "#panel-top";
    t[0].nomeCurto = "Ir para Chamado";
    t[0].referencia = "";
    t[0].exibir = "S";

    t[1].url = "#panel-condomino";
    t[1].nomeCurto = "Salvar";
    t[1].referencia = "$('#btn-salvar').click();";
    t[1].exibir = "S";


    t[2].url = "../Home/Default";
}
<script>
    _CondominoID = '';
    _EdificacaoID = '';
    _UnidadeID = '';
</script>

<div class="x_panel hidden-xs">
    @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Selecionar Condômino", Descricao = "", Transacao = t })
    <div class="x_content">
        <div id="div-condomino-pf">
            @if (Model != null)
            {
                @Html.Partial("../Condomino/ListCondomino", Model)
            }
        </div>
    </div>
</div>
<div class="x_panel hidden-lg hidden-md hidden-sm">
    @Html.EditorFor(info => Model, "FORMULARIO", new { Brand = "Selecionar Condômino", Descricao = "", Transacao = t })
    <div class="x_content">
        <div id="div-condomino-pf">
            @if (Model != null)
            {
                @Html.Partial("../Condomino/ListCondominoMobile", Model)
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#form0').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#div-condomino-pf').html(result);
                    }
                });
            }
            return false;
        });
    });
</script>

